
<div *ngIf="levelMember">
    <h2><span jhiTranslate="ayogatewayApp.levelMember.detail.title">Level Member</span> {{levelMember.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ayogatewayApp.levelMember.kodeLevel">Kode Level</span></dt>
        <dd>
            <span>{{levelMember.kodeLevel}}</span>
        </dd>
        <dt><span jhiTranslate="ayogatewayApp.levelMember.nama">Nama</span></dt>
        <dd>
            <span>{{levelMember.nama}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'level-member/'+ levelMember.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
