<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myHargaLabel" jhiTranslate="ayogatewayApp.harga.home.createOrEditLabel">Create or edit a Harga</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!harga.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="harga.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ayogatewayApp.harga.idHarga" for="field_idHarga">Id Harga</label>
            <input type="number" class="form-control" name="idHarga" id="field_idHarga"
                [(ngModel)]="harga.idHarga"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ayogatewayApp.harga.idProduk" for="field_idProduk">Id Produk</label>
            <input type="number" class="form-control" name="idProduk" id="field_idProduk"
                [(ngModel)]="harga.idProduk"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ayogatewayApp.harga.idMember" for="field_idMember">Id Member</label>
            <input type="text" class="form-control" name="idMember" id="field_idMember"
                [(ngModel)]="harga.idMember"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ayogatewayApp.harga.hargaJual" for="field_hargaJual">Harga Jual</label>
            <input type="number" class="form-control" name="hargaJual" id="field_hargaJual"
                [(ngModel)]="harga.hargaJual"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ayogatewayApp.harga.tglInput" for="field_tglInput">Tgl Input</label>
            <div class="d-flex">
                <input id="field_tglInput" type="datetime-local" class="form-control" name="tglInput" [(ngModel)]="harga.tglInput"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ayogatewayApp.harga.userInput" for="field_userInput">User Input</label>
            <input type="text" class="form-control" name="userInput" id="field_userInput"
                [(ngModel)]="harga.userInput"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ayogatewayApp.harga.hargaBefore" for="field_hargaBefore">Harga Before</label>
            <input type="number" class="form-control" name="hargaBefore" id="field_hargaBefore"
                [(ngModel)]="harga.hargaBefore"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
